<fs-toolbar>
  <h1>Продукты</h1>
</fs-toolbar>
<p-contextMenu #cm [model]="items"></p-contextMenu>
<div class="card">
  <p-table
    [value]="products"
    [(contextMenuSelection)]="selectedProduct"
    [contextMenu]="cm"
    dataKey="code"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Наименование</th>
        <th>Цена</th>
        <th>Изображения</th>
        <th>Скидка</th>
        <th>Сводка</th>
        <th>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <span>Описание</span>
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-plus"
              title="Создать"
            ></button>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr [pContextMenuRow]="product">
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-eye"
            class="p-button-rounded p-button-text"
          ></button>
          {{ product.imgs }}
        </td>
        <td>{{ product.discount }}</td>
        <td>{{ product.summary }}</td>
        <td>{{ product.description }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
