html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bg-primary {
  background: $color-primary;
}

.p-contextmenu {
  margin-left: -269px;
}

.p-button {
  &.p-button-icon-only {
    width: 2.5rem !important;
    padding: 0.5rem 0 !important;
    &.p-button-rounded {
      height: 2.5rem !important;
    }
  }
  &:focus {
    box-shadow: none !important;
  }
}

.fw {
  width: 100%;
}
