@each $property_prefix, $property in (m: margin, p: padding) {
  @each $factor in (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12) {
    .#{$property_prefix}-#{$factor} {
      #{$property}: $padding_bound + $indent_bound_factor * $factor !important;
    }
    @each $pos_prefix, $pos in (l: left, r: right, t: top, b: bottom) {
      .#{$property_prefix}#{$pos_prefix}-#{$factor} {
        #{$property}-#{$pos}: $padding_bound + $indent_bound_factor * $factor !important;
      }
    }
  }
}

.mdc-top-app-bar__section > button:not(:first-child) {
  margin-left: $margin_bound + $indent_bound_factor;
}

$float_positons: left, right;
@each $float_position in $float_positons {
  .float\--#{$float_position} {
    float: $float_position !important;
  }
}

.full-width,
.fw {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

.full-height,
.fh {
  height: 100% !important;
}

.fmh {
  min-height: 100% !important;
}

.font-xl {
  font-size: 1.25rem !important;
}

.font-2xl {
  font-size: 1.5rem !important;
}

.font-3xl {
  font-size: 1.25rem !important;
}

.position--relative {
  position: relative !important;
}

.pointer {
  cursor: pointer !important;
}

.flex-spacer {
  flex: 1 1 auto;
}

.flex-row-span {
  display: flex;
  align-items: center;
  gap: 1rem;
}
