<fs-toolbar>
  <button
    pButton
    pRipple
    type="button"
    icon="pi pi-arrow-left"
    class="p-button-rounded p-button-secondary p-button-text"
    title="Назад"
    routerLink="../"
  ></button>
  <h1>Products</h1>
</fs-toolbar>
<form [formGroup]="productFg" autocomplete="off">
  <!-- <mat-form-field appearance="fill" class="fw">
    <mat-label>ID</mat-label>
    <input matInput name="id" formControlName="id" [readonly]="readonlyFg" />
  </mat-form-field> -->

  <mat-form-field appearance="fill" class="fw">
    <mat-label>ID category</mat-label>
    <input
      matInput
      name="category_id"
      formControlName="category_id"
      [readonly]="readonlyFg"
    />
  </mat-form-field>

  <mat-form-field appearance="fill" class="fw">
    <mat-label>Name</mat-label>
    <input
      matInput
      name="name"
      formControlName="name"
      [readonly]="readonlyFg"
    />
  </mat-form-field>

  <mat-form-field appearance="fill" class="fw">
    <mat-label>Price</mat-label>
    <input
      matInput
      name="price"
      formControlName="price"
      [readonly]="readonlyFg"
    />
  </mat-form-field>

  <mat-form-field appearance="fill" class="fw">
    <mat-label>Discount</mat-label>
    <input
      matInput
      name="discount"
      formControlName="discount"
      [readonly]="readonlyFg"
    />
  </mat-form-field>

  <mat-form-field appearance="fill" class="fw">
    <mat-label>Summary</mat-label>
    <input
      matInput
      name="summary"
      formControlName="summary"
      [readonly]="readonlyFg"
    />
  </mat-form-field>

  <mat-form-field appearance="fill" class="fw">
    <mat-label>Description</mat-label>
    <input
      matInput
      name="description"
      formControlName="description"
      [readonly]="readonlyFg"
    />
  </mat-form-field>

  <div class="pb-4">
    <p-fileUpload
      name="demo[]"
      accept="image/*"
      [styleClass]="readonlyFg ? 'fs-button-bar-disabled' : 'fs-button-bar'"
      [multiple]="true"
      [customUpload]="true"
      [showUploadButton]="false"
      [showCancelButton]="!readonlyFg"
      [disabled]="readonlyFg"
      [files]="uploadedFiles"
      [maxFileSize]="1000000"
      (onSelect)="onSelect($event)"
      (onClear)="onClear()"
      (onRemove)="onRemove($event)"
    >
      <ng-template pTemplate="content">
        <div *ngIf="uploadedFiles.length === 0" class="empty-files-message">
          No images selected
        </div>
      </ng-template>
    </p-fileUpload>
  </div>
</form>
<div *ngIf="!readonlyFg" class="fw submit-btn-container pb-4">
  <p-button
    align="end"
    label="Save"
    icon="pi pi-check"
    iconPos="right"
    class="submit-btn"
    (onClick)="onSubmit()"
    [disabled]="!isDirty()"
  ></p-button>
</div>
